<%- include('./partials/head.ejs') %> 
  
  <%- include('./partials/nav.ejs');  %> 

  <div class="blog content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cupiditate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cupiditate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cupiditate.</p>
  </div>

<%- include('./partials/footer.ejs') %> 